.index {
    margin: 0;
    background-image: url(../SMX2-M12-A13-Pokedex-imagenes/kanto-map.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
  }
/*Modifica la imagen de fondo, el tamaño de la imagen de fondo (si es completa o no) cambia la fuente y el tamaño dentro de la pagina de inicio.*/
body {
    margin: 1;
    background-color: rgb(235, 232, 226);
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-size: large;

}
/*Modifica el margen, el color de fondo, la fuente y el tamaño de la letra dentro del body pero sin contar con el body de index.html ya que para ese le hemos puesto un class para excluirlo de este.*/
.cindaquil {
    background-color: transparent;
    position: absolute; top: 465px; left: 100px
}
/*Establece que el color de fondo del enlace al html del pokemon sea transparente y modifica su posicion*/
.titulo-C{
    text-align: center;
}
/*indica que el titulo del html de los pokemon se alinee al centro*/
.cindaquil-imag{
    width: 420px; height:390px
}
/*Indica el ancho y alto que tendrá la imagen de los pokemon*/
.centrar-boton {
    display: flex;
    justify-content: center;
}
/*Centra el boton*/
.boton-pokemons {
    background-color: rgb(255, 0, 0);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}
/*Establece el color de fondo, el color de letra, los bordes del fondo, el tamaño del borde respecto a la letra, el color del borde, la fuente que tendrá y el tamaño de la letra.*/
.fuego{
    border: 1px solid orange;
    padding: 4px;
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Establece el color de fondo, el tamaño del borde y hace los bordes redondos*/
.fantasma {
    border: 1px solid rgb(151, 41, 151);
    padding: 4px;
    background-color: rgb(146, 34, 146);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Establece el color de fondo, el tamaño del borde y hace los bordes redondos*/
.psiquico {
    border: 1px solid violet;
    padding: 4px;
    background-color: violet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Establece el color de fondo, el tamaño del borde y hace los bordes redondos*/
.volador{
    border: 1px solid aqua;
    padding: 4px;
    background-color: aqua;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Establece el color de fondo, el tamaño del borde y hace los bordes redondos*/
.acero{
  border: 1px solid gainsboro;
  padding: 4px;
  background-color: gainsboro;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*Establece el color de fondo, el tamaño del borde y hace los bordes redondos*/
.mew {
    background-color: transparent;
    position: absolute; top: 505px; left: 100px
  }
/*Establece que el color de fondo del enlace al html del pokemon sea transparente y modifica su posicion*/
.gengar {
    background-color: transparent;
    position: absolute; top: 485px; left: 100px
  }
/*Establece que el color de fondo del enlace al html del pokemon sea transparente y modifica su posicion*/
.rayquaza {
    background-color: transparent;
    position: absolute; top: 525px; left: 100px
  }
/*Establece que el color de fondo del enlace al html del pokemon sea transparente y modifica su posicion*/
.pokedex {
  position: absolute;
   top: 150px; left: 50px;
   width: 400px; height:300px
  }
/*Establece la posicion de la imagen y su tamaño utilizando el ancho y el alto*/
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*Establece el formato de la lista*/
  li {
    margin: 5px;
  }
  /*Establece el margen que tendrán los */
  a {
    text-decoration: none;
    color: white;
  }
  /*Le elimina el subrayado al enlace y le cambia el color a blanco*/
  .titulo{
    position: absolute; top: 50px; left: 650px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /*Establece su posición, el color de fondo, el color de letra, y le añade bordes redondos.*/
.evolucion{
  position: absolute; top: 90px; left: 850px;
  color: black;
}
  .column-12 {
  float: left;
  margin-right: -100%;
  width: 85.49%;
  list-style: none;
}
.primero {
  position: absolute; top: 150px; left: 550px;

}
.medio{
  list-style: none;
  position: absolute; top: 150px; left: 870px;
}
.ultimo{
  list-style: none;
  position: absolute; top: 150px; left: 1150px;
}
/*Establece la posicion donde estará el pokemon ya sea primero, ultimo o se encuentre en el medio de las dos opciones.*/
.match{
  color: black;
}
/*Establece el color del texto de las evoluciones de los pokemons*/
.cindaquil-index{
  position: absolute; top: -250px; left: 450px;
  width: 170px; height:180px
}
.gengar-index{
  position: absolute; top: -260px; left: 670px;
  width: 170px; height:180px
}
.mew-index{
  position: absolute; top: -280px; left: 870px;
  width: 170px; height:180px
}
  .rayquaza-index{
  position: absolute; top: -290px; left: 1120px;
  width: 170px; height:180px
}

.quilava-index{
  position: absolute; top: 450px; left: 550px;
  width: 170px; height:180px
}
.typhlosion-index{
  position: absolute; top: 450px; left: 770px;
  width: 170px; height:180px
}
.cobalion-index{
  position: absolute; top: 450px; left: 990px;
  width: 170px; height:180px
}
.emboar-index{
  position: absolute; top: 450px; left: 1200px;
  width: 170px; height:180px
}
/*Establece el tamaño de la imagen, junto a la posicion en la cual estará*/
  @media screen and (max-width: 700px) {
    body {
      font-size: medium;
        }
        .titulo{
          position: absolute; top: 50px; left: 250px;
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          padding: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        p{
          font-size: small;
        }
        h1{
        font-size: medium;
        }
        h2{
          font-size: medium;
        }
        h3{
          font-size: small;
        }
        .pokedex {
          position: absolute;
           top: 130px; left: 20px;
           width: 150px; height:150px
          }
        .cindaquil-index{
            position: absolute; top: -280px; left: 65px;
            width: 100px; height:110px
        }
        .gengar-index{
            position: absolute; top: -300px; left: 180px;
            width: 100px; height:110px
        }
        .mew-index{
            position: absolute; top: -310px; left: 280px;
            width: 100px; height:110px
        }
        .rayquaza-index{
            position: absolute; top: -320px; left: 390px;
            width: 100px; height:110px
        }
        .quilava-index{
          position: absolute; top: 320px; left: 170px;
          width: 100px; height:110px
        }
        .typhlosion-index{
          position: absolute; top: 320px; left: 270px;
          width: 100px; height:110px
        }
        .cobalion-index{
          position: absolute; top: 320px; left: 370px;
          width: 100px; height:110px
        }
        .emboar-index{
          position: absolute; top: 320px; left: 470px;
          width: 100px; height:110px
        }
        .cindaquil-imag{
          width: 260px; height:280px
      }
      .evolucion{
        position: absolute; top: 90px; left: 350px;
        color: black;
        font-size: medium;
      }
      .primero {
        position: absolute; top: 130px; left: 200px;
        width: 90px; height:100px
      }
      .medio{
        list-style: none;
        position: absolute; top: 130px; left: 340px;
        width: 90px; height:100px
      }
      .ultimo{
        list-style: none;
        position: absolute; top: 130px; left: 450px;
        width: 90px; height:100px
      }
    }
    /*Establece un tamaño definido a los elementos en un numero determinado de pixeles */
  @media screen and (min-width: 700px) and (max-width: 900px) {
    body {
      font-size: large;
        }
        .titulo{
          position: absolute; top: 50px; left: 340px;
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          padding: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        p{
          font-size: medium;
        }
        h1{
        font-size: large;
        }
        h2{
          font-size: large;
        }
        h3{
          font-size: medium;
        }
        .pokedex {
          position: absolute;
           top: 130px; left: 20px;
           width: 200px; height:200px
          }
        .cindaquil-index{
            position: absolute; top: -280px; left: 140px;
            width: 100px; height:110px
        }
        .gengar-index{
            position: absolute; top: -300px; left: 270px;
            width: 100px; height:110px
        }
        .mew-index{
            position: absolute; top: -310px; left: 390px;
            width: 100px; height:110px
        }
        .rayquaza-index{
            position: absolute; top: -320px; left: 520px;
            width: 100px; height:110px
        }
        .quilava-index{
          position: absolute; top: 320px; left: 250px;
          width: 100px; height:110px
        }
        .typhlosion-index{
          position: absolute; top: 320px; left: 365px;
          width: 100px; height:110px
        }
        .cobalion-index{
          position: absolute; top: 320px; left: 485px;
          width: 100px; height:110px
        }
        .emboar-index{
          position: absolute; top: 320px; left: 595px;
          width: 100px; height:110px
    }
    .cindaquil-imag{
      width: 260px; height:280px
  }
  .evolucion{
    position: absolute; top: 90px; left: 400px;
    color: black;
    font-size: medium;
  }
  .primero {
    position: absolute; top: 130px; left: 220px;
    width: 90px; height:100px
  }
  .medio{
    list-style: none;
    position: absolute; top: 130px; left: 400px;
    width: 90px; height:100px
  }
  .ultimo{
    list-style: none;
    position: absolute; top: 130px; left: 550px;
    width: 90px; height:100px
  }
}
   /*Establece un tamaño definido a los elementos en un numero determinado de pixeles*/